body {
  align-items: center;
  background-color: white;
  color: white;
  display: flex;
  flex-flow: column;
}

.p-3 {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.btn-dark {
  background-color: white;
  border: none;
  color: black;
}

.btn-dark:hover {
  background-color: rgb(255, 101, 0);
}

.btn-outline-dark {
  background-color: white;
}

.btn-outline-dark:hover {
  background-color: rgb(255, 101, 0)
}

.card {
  background-clip: border-box;
  background-color: rgb(255, 101, 0);
  border: 1px solid rgb(255 255 255 / 80%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}

.cabeçalho {
  align-items: center;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  margin: 5px;
  padding: 20px;
}

.pesquisa-carrinho {
  display: flex;
}

.moldura {
  background-color: rgb(255, 101, 0);
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px;
}

.espaçamento-botao {
  margin-left: 10px;
  margin-right: 10px;
}

.initial-message {
  color: rgb(87, 87, 87);
  margin-top: 10px;
}

.categoria-itens {
  display: flex;
  justify-content: space-between;
}

.categoria {
  background-color: rgb(255, 101, 0);
  border: none;
  display: flex;
  margin-right: 20px;
}

.cabeçalho-itens {
  align-items: center;
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
}

.imagem-item {
  border-radius: 10px;
  width: 250px;
}

.imagem-item:hover {
  border: 5px solid rgb(255, 101, 0);
  width: 350px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.imagem-item-cart {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
  width: 450px;
}

.link-itens {
  padding-top: 15px;
}

.botao-itens {
  margin-top: 10px;
}

.preço {
  color: rgb(255, 101, 0);
  margin-top: 13px;
}

.preço1 {
  color: rgb(255, 101, 0);
}

.tamanho-button {
  margin: 5px 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.imagem-cart {
  margin-bottom: 2px;
}

.cart-border {
  border-radius: 20px;
}

.botao-voltar {
  margin-bottom: 15px;
}

.botao-voltar:hover {
  background-color: rgb(255, 101, 0);
  color: black;
  border: none;
}

.cart-color {
  background-color: rgb(228, 228, 228);
}

::placeholder {
  color: black;
}

.gratis {
  border: 1px solid rgb(255, 101, 0);
  padding: 5px;
}

.fundo-detalhe2 {
  background-color: rgb(228, 228, 228);
}

.centro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centralizar-letra {
  text-align: center;
}

.orange-input {
  background-color: rgb(255, 101, 0);
}

.form-text {
  resize: none;
  width: 275px;
}

.background-itens {
  background-color: rgb(255, 101, 0);
}

.a {
  color: black;
  background-color: rgb(228, 228, 228);
}

.price-total {
  color: rgb(255, 101, 0);
  font-size: 30px;
  font-weight: bold;
}

.padding-top {
  padding-top: 20px;
}

.center-price {
  text-align: center;
}

.color-price {
  color: rgb(255, 101, 0);
  font-weight: bold;
}

.formulario {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-form {
  color: black;
  text-align: center;
}

.espace-emote {
  margin-right: 10px;
}