body {
  display: flex;
  flex-flow: column;
  align-items: center; 
  background-color: white;
  color: white;
}

.p-3 {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.btn-dark {
  background-color: rgb(255, 101, 0);
  border: none;
}

.btn-outline-dark {
  background-color: rgb(240, 240, 240);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: rgb(33, 37, 41);
  border: 1px solid rgb(255 255 255 / 80%);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.cabeçalho {
  margin: 5px;
  padding: 20px;
  background-color: rgb(228, 228, 228);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.pesquisa-carrinho {
  display: flex;
}

.moldura {
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(255, 101, 0);
}

.espaçamento-botao {
  margin-right: 10px;
  margin-left: 10px;
}

.initial-message {
  margin-top: 10px;
  color: rgb(87, 87, 87);
}

.categoria-itens {
  display: flex;
  justify-content: space-between;
}

.categoria {
  display: flex;
  margin-right: 20px;
  background-color: rgb(255, 101, 0);
  border: none;
}

.cabeçalho-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgb(228, 228, 228);
}

.imagem-item {
  width: 250px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.imagem-item-cart {
  width: 450px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
}

.link-itens {
  padding-top: 15px;
}

.botao-itens {
  margin-top: 10px;
}

.preço {
  margin-top: 13px;
  color: rgb(87, 87, 87);
}

.tamanho-button {
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px 20px;
}

.imagem-cart {
  margin-bottom: 2px;
}

.cart-border {
  border-radius: 20px;
}

.botao-voltar {
  margin-bottom: 15px;
}

.cart-color {
  background-color: gray;
}