body {
  display: flex;
  flex-flow: column;
  align-items: center; 
  background-color: rgb(33, 37, 41);
  color: white;
}

.p-3 {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.padding-baixo {
  margin-top: 4px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: rgb(33, 37, 41);
  border: 1px solid rgb(255 255 255 / 80%);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.cabeçalho {
  margin: 5px;
  padding: 20px;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.categoria {
  margin-top: 10px;
  border: 1px  solid black;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

}

/* .espaçamento-botao {

} */